@model AppUserSignInDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<h1 class="text-white text-center py-5" style="font-family: 'Yatra One', cursive !important;">İŞ TAKİP PROJESİ</h1>


<form asp-action="GirisYap" method="post" class="bg-primary text-white w-50 mx-auto p-4 shadow">
    <div class="form-group">
        <label asp-for="UserName" >Kullanıcı Adı :</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Şifre :</label>
        <span asp-validation-for="Password" class="text-danger"></span>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-check float-right mt-2">
        <input type="checkbox" asp-for="RememberMe" class="form-check-input" style="margin-top:0.5rem !important;"/>
        <label asp-for="RememberMe" class="form-check-label">Beni Hatırla</label>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger">

    </div>

    <a asp-action="KayitOl"  style="font-size:1.3rem;" class="btn btn-warning btn-sm mr-2  mt-2">Kayıt Ol</a>
    <input type="submit" class="btn btn-info btn-sm  mt-2" value="Giriş Yap" />

</form>